/***********
 * Imports *
 ***********/

@font-face {
    font-family: roboto-local;
    src: url("../fonts/roboto-mono.ttf");
}

@font-face {
    font-family: icon-font;
    src: url("../fonts/font-awesome-solid.woff2");
}

/*************
 * Scrollbar *
 *************/

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: .25rem !important;
    background-color: #1A1A1A;
}

::-webkit-scrollbar-thumb {
    border-radius: .25rem !important;
    background-color: #B0B0B0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E0E0E0;
}

::-webkit-scrollbar-corner {
    border-radius: .25rem !important;
    background-color: #1A1A1A;
}

::-webkit-scrollbar-button {
    background-color: #B0B0B0;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .25rem !important;
    width: 1rem;
    height: 1rem;
    color: #1A1A1A;
}

::-webkit-scrollbar-button:hover {
    background-color: #E0E0E0;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("../images/angle-up-solid.svg");
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url("../images/angle-down-solid.svg");
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url("../images/angle-right-solid.svg");
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url("../images/angle-left-solid.svg");
}

/***********
 * Overall *
 ***********/

html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    min-width: 300px;
    font-family: roboto-local, monospace;
    color: #E0E0E0;
    background-color: #101010;
}

marquee {
    display: inherit;
}

audio#main-audio {
    display: none;
}

.icon-font {
    font-family: icon-font;
    font-size: 1.25rem;
}

.limit-width {
    max-width: 1000px;
}

/*********
 * Modal *
 *********/

#main-modal {
    overflow: hidden;
}

.modal-content {
    background-color: #1A1A1A !important;
}

.modal-header {
    border-color: #2A2A2A;
}

.modal-footer {
    border-color: #2A2A2A;
}

.modal-content div.btn.btn-mine {
    background-color: #2A2A2A;
    padding-top: 0rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 0.5rem;
    font-size: 1.15rem;
}

.modal-content div.btn.btn-mine:hover {
    background-color: #E0E0E0;
}

/**************
 * Sticky top *
 **************/

.sticky-top {
    max-width: 700px
}

.sticky-top .btn {
    font-size: 1.15rem;
}

.svg-correct-size {
    height: 1.15rem;
}

.sticky-top-back {
    background-color: #E0E0E030;
}

.sticky-top-offset {
    display: flex;
}

.sticky-top-left {
    display: flex;
}

.sticky-top-right {
    flex: 1;
}

/*******************
 * Audio container *
 *******************/

.audio-container {
    flex: 1;
    display: block;
}

.audio-container-top {
    display: flex;
}

.audio-container-middle {
    display: flex;
}

.audio-container-bottom {
    display: flex;
}

.audio-button {
    width: 3rem;
    border-radius: 0;
    text-align: center !important;
    flex: 1;
}

.audio-button.volume-side-button {
    flex: 25%;
}

.audio-playing-text {
    flex: 1;
    background-color: #1A1A1A;
    height: 2.5rem;
    display: flex;
}

.audio-vertical-center {
    flex: 1;
    width: 0;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.no-wrap {
    white-space: nowrap !important;
}

/****************
 * Progress Bar *
 ****************/

.progress {
    cursor: pointer;
    background-color: #373737;
}

.progress-bar {
    background-color: #E0E0E0;
}

.progress-parent {
    background-color: #1A1A1A;
    display: grid;
}

.progress-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

#audio-progress {
    height: 2.5rem;
    flex: 1;
}

#audio-progress #audio-progress-bar {
    width: 0%;
}

#audio-progress #audio-buffer-progress-bar {
    background-color: #545454;
    width: 0%;
}

#volume-progress {
    flex: 50%;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.out-vertical-text {
    display: grid;
}

.inside-vertical-text {
    margin: auto;
}

/***************
 * Range Input *
 ***************/

#volume-range {
    display: flex;
    margin: auto;
    --color-before: #9A9A9A;
    --color-after: #373737;
}

#volume-range::-webkit-slider-runnable-track,
#volume-range::-moz-range-track {
    cursor: pointer;
    border-radius: .25rem !important;
    background-color: #373737;
}

#volume-range::-webkit-slider-thumb,
#volume-range::-moz-range-thumb {
    cursor: pointer;
    border-radius: .25rem !important;
    background-color: #E0E0E0;
    outline: none !important;
    box-shadow: none !important;
}

#volume-range::-webkit-slider-thumb:active,
#volume-range::-moz-range-thumb:active {
    background-color: #FFFFFF;
}

/**********************
 * Rounding shortcuts *
 **********************/

.rdd-tl {
    border-top-left-radius: .25rem;
}

.rdd-tr {
    border-top-right-radius: .25rem;
}

.rdd-bl {
    border-bottom-left-radius: .25rem;
}

.rdd-br {
    border-bottom-right-radius: .25rem;
}

/***************
 * Listing Div *
 ***************/

.parent-inside {
    display: flex;
}

.parent-text-link-inside {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.text-link-inside {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

/***********
 * Buttons *
 ***********/

.btn {
    cursor: pointer;
}

.btn-mine {
    text-align: left;
    background-color: #1A1A1A;
    color: #E0E0E0;
}

.btn-mine:hover {
    background-color: #E0E0E0;
    color: #0A0A0A !important;
}

.btn-path-bar {
    background-color: #151515;
    color: #E0E0E0 !important;
    cursor: default !important;
}

.btn-path-bar:hover {
    background-color: #151515;
    cursor: default !important;
    color: #E0E0E0 !important;
}

/*********************
 * Button variations *
 *********************/

.btn-mine.inactive { color: #373737 !important; }
.btn-mine.inactive:hover { color: #B0B0B0 !important; }

/***********
 * Marquee *
 ***********/

.mine-marquee {
    display: inline-block;
    animation: my-marquee-keyframes;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 10s;
}

.mine-marquee-overflow {
    display: grid;
    overflow: hidden;
}

@keyframes my-marquee-keyframes {
    0%   {
        transform: translateX(0%);
    }
    40%  {
        transform: translateX(0%);
    }
    80%  {
        transform: translateX(-100%);
    }
    90% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

/******************
 * Responsiveness *
 ******************/

.btn-responsive-m {
    padding: 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.parent-icon-link-inside {
    font-size: 1rem;
    padding-right: 1.5rem;
}

/* @media (min-width: 576px) {} */
/* @media (min-width: 768px) {} */
@media (min-width: 992px) {
    .btn-responsive-m {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .parent-icon-link-inside {
        font-size: .875rem;
        padding-right: .75rem;
    }

    @keyframes my-marquee-keyframes {
        0%   {
            transform: translateX(0%);
        }
        40%  {
            transform: translateX(0%);
        }
        80%  {
            transform: translateX(-100%);
        }
        90% {
            transform: translateX(-100%);
        }
        95% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
        }
    }

}
/* @media (min-width: 1200px) {} */

/************
 * Lightbox *
 ************/

.btn:focus {
    outline: none;
    box-shadow: none;
}

/*********************
 * Loading animation *
 *********************/

#loading-block {
    display: grid;
}

.note-dancing {
    font-family: icon-font;
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.loading-anim {
    animation: loading-spin 4s cubic-bezier(0.05, 0.78, 0.53, 0.83) infinite;
}

@keyframes loading-spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    80% {
        transform: rotate(360deg);
    }
    95% {
        transform: rotate(350deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
