@font-face {
    font-family: roboto-mono;
    src: url("../fonts/roboto-mono.ttf");
}

@font-face {
    font-family: icon-font;
    src: url("../fonts/icons.ttf");
}

body {
    font-family: roboto-mono, monospace;
    color: #D9D9D9;
    background-color: #101010;
}

audio#main-audio {
    display: none;
}

.icon-font {
    font-family: icon-font;
    font-size: 20px;
}

.btn-mine {
    text-align: left;
    background-color: #1A1A1A;
    color: #D9D9D9;
}

.btn-mine:hover {
    background-color: #E0E0E0;
    color: #0A0A0A !important;
}
